.container {
  padding-left: 20px;
}
.timer {
  display: flex;
}
.field {
  display: inline-block;
  text-align: center;
}
.value {
  display: block;
  font-size: 48px;
  color: darkgray;
}

.field:not(:last-child) {
  margin-right: 16px;
}
.deadline-time {
  color: rgb(95, 92, 92);
  margin-right: 16px;
}
.label {
  font-size: 14px;
}
.button-timer {
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  color: white;
  background: rgb(96, 9, 240);
  background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
  border: none;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-timer:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-timer:disabled {
  cursor: default;
  color: rgb(114, 105, 105);
  background: rgb(173, 167, 182);
  background: linear-gradient(0deg, rgb(184, 199, 247) 0%, rgb(156, 153, 196) 100%);
  box-shadow: none;
}
input {
  border-radius: 4px;
  padding: 12px 12px;
  border: none;
  box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}
